[
    {kernel, []},
    {sasl, [
        {sasl_error_logger, false},
        {errlog_type, error},
        {error_logger_mf_dir, "./logs"},
        {error_logger_mf_maxbytes, 0},
        {error_logger_mf_maxfiles, 1}
        ]
    },
    {maparser, [
        {map_file, "./map/diguo_map.txt"},
        {map_mag, 2},
        {mysql_host, "192.168.199.156"},
        {mysql_port, 3306},
        {mysql_username, "root"},
        {mysql_password, "NvTrJT4BABvUUu55"},
        {mysql_database, "diguo_base"},
        {mysql_table, "map"}
        ]
    }
].
